body {
    margin: 0;
    padding: 0;
    background-color: #faf8f8;
}

header{
    position: relative;
    background-color: #088199;
    height: 150px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo_pagina{
    width: 130px;
}
header p{
    font-family: sans-serif, bold;
    font-size: 20px;
    position: absolute;
    right: 3.5%;
    top: 1%;
}
.redes_sociales{
    position: absolute;
    right: 7%;
    display: flex;
}
.socia{
    margin: 0 3%;
    cursor: pointer;
}
.social{
    height: 35px;    
}
a {
    text-decoration: none;
    color: #000;
}
.opcs_pantallas{
    display: flex;
    align-items: center;
    background-color: #75A933;
    width: 60%;
    height: 90px;
    align-content: center;
    position: absolute;
    right: 0%;
    top: 74%;
    border-radius: 1.5vw 0 0 1.5vw;
    padding: 0 40px;
    justify-content: space-between;
}
.opc_pantalla, .opc_pantalla1{
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    transition: 0.5s;
}
.opc_pantalla2{
    height: 40px;
    cursor: pointer;
}
.cerrar-menu, .abrir-menu{
    font-size: 70px;
    cursor: pointer;
    color: #fff;
    display: none;
}
.opc_pantalla:hover, .abrir-menu:hover, .cerrar-menu:hover
{
    color: #dcdcdc;
}
#check, .menu{
    display: none;
}
.container_debajo_header{
    display: none;
}
.phone-contac{
    display: none;
}
.arriba-header{
    display: none;
}
footer{
    min-height: 400px;
    background-color: #011820;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.qr{
    margin-top: 5px;
}
.contenido{
    width: 450px;
    height: 350px;
    align-self: center;
    align-content: center;
    text-align: center;
    border-right: 3px solid #fff ;
    border-left: 3px solid #fff ;
}
.ini-regis{
    width: 250px;
    height: 150px;
    background: #eeee;
    z-index: 1000;
    position: absolute;
    right: 1%;
    top: 205px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    box-shadow: 1.5px 1.5px 5px #767676;
    position: fixed;
    display: none;
}
.ini-regis a:nth-child(1){
    background: #0A988F;
    padding: 13px 50px;
    border-radius: 10px;
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 22px;
}
.ini-regis p{
    color: #000000da;
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 14px;
    position: absolute;
    top: 43px;
    right: 40px;
}
.regi{
    background: #fff;
    padding: 10px 50px;
    border: 3px solid #0A988F;
    color: #0A988F;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 10px;
    position: absolute;
    right: 25px;
    bottom: 10px;
}
#checked-user, #checked-noti{
    display: none;
}
#checked-user:checked ~ .ini-regis{
    display: block;
}
#checked-noti:checked ~ .notificaciones{
    position: absolute;
    right: 0%;
    top: 90px;
    display: block;
}
.notificaciones{
    width: 300px;
    height: 250px;
    background: #fff;
    position: fixed;
    z-index: 10000;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 5px #767676;
    text-align: center;
    display: none;
}
.notificaciones header{
    background: #C8C8C8;
    height: 100px;
    color: #000;
    font-family: sans-serif;
    font-size: 20px;
    box-shadow: 1.5px 1.5px 5px #767676;
}
.producto-carrito{
    border-radius: 5px;
    box-shadow: 1.5px 1.5px 5px #767676;
    margin-bottom: 20px;
}
.conenido_carrito{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 30px;
    position: relative;
}
.header-producto{
    display: flex;
    padding: 1px;
    background: #F99C46;
    width: 700px;
    border-radius: 5px;
    font-family: sans-serif;
    color: #3a3a3a;
    align-items: center;
    position: relative;
    box-shadow: 1.5px 1.5px 5px #767676;
}
.header-producto h4{
    margin-left: 30px;
}
.huella{
    margin-left: 50px;
    width: 50px;
    height: 50px;
}
.x{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 3%;
}
.contenido-car-pro{
    display: flex;
    width: 700px;
    height: 170px;
    margin-top: 20px;
    position: relative;
}
.img-pro{
    margin-left: 30px;
    width: 100px;
    height: 150px;
}
.nombre-pro{
    position: absolute;
    left: 130px;
    width: 160px;
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
}
.tienda{
    color: #F91919;
    font-size: 12px;
    position: absolute;
    left: 170px;
    top: 60px;
}
.comprar{
    position: absolute;
    left: 220px;
    top: 90px;
    color: #10C6BB;

}
.can-dis{
    position: absolute;
    left: 400px;
    top: 40px;
}
.can-dis select{
    width: 100%;
    height: 25px;
    border-radius: 7x;
    border: 3px solid #000;
}
.dispo{
    padding: 0;
    margin: 0;
    color: #3e3e3e;
    font-family: sans-serif;
    font-size: 12px;
}
.precios{
    position: absolute;
    left: 550px;
    top: 40px;
}
.porcen-pre_ante{
    display: flex;
    margin: 0;
    font-family: sans-serif;
}
.porcen-pre_ante p{
    margin: 0;
}
.porcentaje{
    color: #2AAD1E;
}
.precio_anterior{
    text-decoration: line-through;
}
.precio_actual{
    font-family: sans-serif;
    font-size: 25px;
    margin: 0;
}
.ul-div{
    position: relative;
    height: 20px;
    width: 100%;
    border-top: 3px solid #00000042 ;
    padding: 5px 0;
}
.ul-div span{
    position: absolute;
    right: 2%;
}

.contenido2{
    position: sticky;
    top: 230px;
    width: 250px;
    height: 310px;
    box-shadow: 1.5px 1.5px 5px #767676;
    font-family: sans-serif;
}
.contenido2 h5{
    padding: 0 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid #0000003f;
}
.total_tablet-tel{
    background: #fff;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 60px;
    box-shadow: 1.5px 1.5px 5px #767676;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    display: none;
}
.total_tablet-tel p{
    padding: 0 10px;
}
.can_pro-to{
    display: flex;
    justify-content: space-between;
}
.tot{
    border-top: 2px solid #00000052;
}
.tot, .usu{
    display: flex;
    justify-content: space-between;
}
.ubi{
    color: #4676F3;
}
.usu p:nth-child(2){
    color: #4676F3;
}
button{
    width: 100%;
    height: 30px;
    background: #4676F3;
    border: none;
}






























.iniciar_sesion2{
    display: none;
}
@media (max-width: 1085px) {
    .opc_pantalla{
        font-size: 17px;
    }
}
@media (max-width: 1209px) {
    .opcs_pantallas{
        height: 80px;
        width: 70%;
    }
}
@media (max-width: 1000px) {
    .conenido_carrito{
        margin-top: 10px;
    }
    .total_tablet-tel{
        display: flex;
    }
    .contenido2{
        display: none;
    }
    .ini-regi{
        width: 250px;
        height: 150px;
        background: #eeee;
        z-index: 1000;
        position: absolute;
        right: 1%;
        top: 205px;
        border-radius: 10px;
        text-align: center;
        align-content: center;
        box-shadow: 1.5px 1.5px 5px #767676;
        position: fixed;
        display: none;
    }
    .ini-regi a:nth-child(1){
        background: #0A988F;
        padding: 13px 50px;
        border-radius: 10px;
        color: #fff;
        font-family: sans-serif;
        font-size: 18px;
        position: absolute;
        top: 10px;
        right: 22px;
    }
    .ini-regi p{
        color: #000000da;
        margin-top: 30px;
        font-family: sans-serif;
        font-size: 14px;
        position: absolute;
        top: 43px;
        right: 40px;
    }
    #user2{
        display: none;
    }
    .user2 img{
        cursor: pointer;
    }
    #user2:checked ~ .ini-regi{
        display: block;
    }
    .notificacion header{
        background: #C8C8C8;
        height: 100px;
        color: #000;
        font-family: sans-serif;
        font-size: 20px;
        box-shadow: 1.5px 1.5px 5px #767676;
    }
    #noti2{
        display: none;
    }
    .noti2 img{
        cursor: pointer;
    }
    .notificacion{
        position: absolute;
        right: 0%;
        top: 203px;
        width: 300px;
        height: 250px;
        background: #fff;
        position: fixed;
        z-index: 10000;
        border-radius: 10px;
        box-shadow: 1.5px 1.5px 5px #767676;
        text-align: center;
        display: none;
    }
    #noti2:checked ~ .notificacion{
        display: block;
    }
    .contenido{
        border-right: none;
        border-left: none;
    }
    .qr{
        width: 250px;
    }
    .carrito-deb{
        height: 40px;
        margin-top: 5px;
        margin-left: 90px;
    }
    .opcs_pantallas, header p{
        display: none;
    }
    .phone-contac{
        display: flex;
        align-items: center;
        position: absolute;
        right: 4%;
        top: 20%;
    }
    .opc_pantalla1{
        display: block;
        
    }
    .phone-contac b{
        font-family: sans-serif;
        font-size: 22px;
        color: #fff;
    }
    .redes_sociales{
        position: absolute;
        top: 50%;
        right: 8%;
    }
    .container_debajo_header{
        display: flex;
        position: relative;
        background: #75A933;
        height: 53px;
        width: 100%;
        align-items: center;
        position: sticky;
        top: 150px;
        z-index: 90;
    }
    .container_debajo_header nav{
        display: flex;
        position: absolute;
        right: 3%;
    }
    .cerrar-menu, .abrir-menu{
        display: block;
    }
    .abrir-menu{
        position: absolute;
        left: 4%;
        top: 91%;
    }
    .menu{
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #75A933;
        right: -100%;
        top: 0;
        padding: 100px 0px;
        z-index: 1000;
        transition: 0.8s;
        text-align: center;
    }
    .menu a{
        text-align: center;
        display: block;
        padding: 20px;
        color: #fff;
        font-family: sans-serif;
    }
    .menu a:hover{
        color: #dcdcdc;
    }
    .cerrar-menu{
        position: absolute;
        top: 30px;
        right: 60px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
}
@media (max-width: 720px){
    .conenido_carrito{
        margin: 5px;
    }
    .contenido1{
        width: 100%;
    }
    .producto-carrito{
        width: 100%;
    }
    .header-producto{
        width: 100%;
    }
    .tienda{
        display: none;
    }
    .can-dis{
        position: absolute;
        left: 170px;
        top: 120px;
    }
    .precios{
        position: absolute;
        left: 70%;
        top: 55px;
    }
    .comprar{
        position: absolute;
        top: 175px;
    }
    .ul-div span{
        display: none;
    }
    .contenido-car-pro{
        width: 100%;
    }
}
@media (max-width: 480px) {
    .iniciar_sesion2{
        display: block;
        background: #0A988F;
        padding: 13px 50px;
        border-radius: 10px;
        color: #fff;
        font-family: sans-serif;
        font-size: 18px;
        position: absolute;
        top: 10px;
        right: 22px;
    }
    .iniciar_sesion1{
        display: none;
    }
    .arriba-header{
        display: flex;
        height: 30px;
        background: #4b4b4b;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .PHONE{
        height: 18px;
    }
    
    .arriba-header b{
        color: #fff;
    }
    .phone-contac{
        display: none;
    }
    .soc{
        margin: 0 0.5%;
    }
    .redes_sociales{
        display: none;
    }
    .sociale{
        width: 18px;
    }
    header{
        display: flex;
        justify-content: center;
        position: sticky;
    }
    .redes_sociale{
        display: flex;
    }
    .container_debajo_header{
        position: sticky;
        top: 150px;
    }
}
@media (max-width: 390px){
    .precio_actual{
        font-size: 20px;
    }
}