

    body{
        margin: 0;
        padding: 0;
    }
    .contenido{
        height: 100vh;
        text-align: center;
        padding: 60px 0;
    }
    input{
        width: 90%;
        height: 40px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    button{
        position: relative;
        top: 15vh;
        width: 80%;
        padding: 15px;
        border: none;
        font-size: 20px;
        font-family: sans-serif;
        border-radius: 5px;
        background: #07B0A6;
    }
    .no_cuen{
        position: relative;
        top: 30vh;
        color: #045e58;
        font-size: 20px;
    }
